body {
  background: #34495e;
}

.nonlink{
  text-decoration: none;
  color: white;
  }

  .centered {
    text-align: center;
  }

  .blink_me {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

  @font-face {
    font-family: 'pixel';
    src: url('/pixel.ttf') format('truetype'); 
  }

  .pixel {
    font-family: 'pixel'
  }