body {
  background: #ffffff !important;
  
}

.nonlink{
  text-decoration: none;
  font-family: 'Varela Round', sans-serif !important;
  color: #000;
  }

  .centered {
    text-align: center;
  }

  .blink_me {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
